.post {
    background-color: #002F6C;
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    color: white;
}

.sidebar {
    width: 10%;
}

.post-whole {
    width: 90%;
}

.post-img {
    max-width: 100%;
}
