.post {
    background-color: #002F6C;
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    color: white;
    border-top: 2px solid white;
    height: auto;
}

.sidebar {
    width: 10%;
    text-align: right;
    padding-right: 20px;
}

.sidebar, p {
    text-align: right;
    direction: rtl;
}

.post-whole {
    width: 90%;
}

.post-img {
    max-width: 100%;
}

.post-footer {
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

.icon {
    height: 20px;
    width: 20px;
}

.comments-container {
    height: auto;
}