h3, p {
    color: white;
}


.comment {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    text-align: left;
    direction: ltr;
    width: 90%;
    overflow: hidden;
    outline: 1px solid #B6CDE2;
    padding: 10px;
}